<div class="bg-dark" id="contact">
  <div class="my-4">
    <div class="container contact-container">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <h2 class="text-light">Contact Us</h2>
          <form action="https://formspree.io/contact@berbli.com"
                method="POST">
              <div class="form-group">
                <input type="text" name="name" class="form-control bg-dark input-lg" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" name="_replyto" class="form-control bg-dark input-lg" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" name="phone" class="form-control bg-dark input-lg" placeholder="Phone">
              </div>
              <div class="form-group">
                <textarea name="mensaje" rows="5" class="form-control bg-dark" placeholder="Message"></textarea>
              </div>
              <input type="submit" value="ENVIAR" class="btn btn-primary btn-lg">
          </form>
        </div>
        <div class="col-lg-5 col-md-6 contact-info">
          <div class="px-lg-5">
            <img src="assets/images/logo.svg">
            <ul class="fa-ul pt-3">
              <li class="pb-2">
                <a class="text-light" href="callto:526563590406">
                  <span class="fa-li text-primary"><i class="fal fa-phone"></i></span>
                  +52 (656) 359 0406
                </a>
              </li>
              <li class="pb-2">
                <a class="text-light" href="mailto:contact@berbli.com">
                  <span class="fa-li text-primary"><i class="fal fa-envelope-open"></i></span>
                  contact@berbli.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
