<div class="hero text-light">
  <div class="container">  
    {% include header.html %}
    <div class="row mb-5 justify-content-end">
      <div class="col-sm-8 col-md-6 my-md-5">
        <h1>Complete logistics solutions customized to your needs.</h1>
        <p class="lead mt-3">We deliver <span class="text-primary">compliance, security, and operational integrity </span>during this critical stage in the supply chain.</p>
        <a href="#contact" class="btn btn-light btn-lg mt-4 mb-5">GET IN TOUCH</a>
      </div>
    </div>
  </div>
</div>
<div class="mission mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="bg-dark">        
          <div class="row p-5">      
            <div class="col-sm-4">
              <h1 class="text-light">Our Mission</h1>
            </div>
            <div class="col-sm-8">
              <p class="lead text-light"><span class="text-primary">Secure compliance and quality assurance of your shipments;</span> deliver exceptional value customer service to our clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
