<div class="hero">
  <div class="container">  
    {% include header.html %}
    <div class="row my-5 justify-content-end">
      <div class="col-sm-7">
        <h1>Complete logistics solutions customized to your needs.</h1>
        <p class="lead">We deliver <span class="text-primary">compliance, security, and operational integrity </span>during this critical stage in the supply chain.</p>
        <a href="#" class="btn btn-primary btn-lg">GET IN TOUCH</a>
      </div>
    </div>
  </div>
</div>
<div class="mission">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <div class="bg-dark">        
          <div class="row">      
            <div class="col-sm-4">
              <h1 class="text-light p-5">Our Mission</h1>
            </div>
            <div class="col-8">
              <p class="lead text-light p-5"><span class="text-primary">Secure compliance and quality assurance of your shipments;</span> deliver exceptional value customer service to our clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
