
// Reset

body {
  background: url('images/body-bg.png') no-repeat top center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: 900;
  letter-spacing: -.1rem;
}

.fa-ul {
  margin-left: 2.3rem;
  .fa-li {
    margin-top: 7px;
  }
  a {
    padding-left: 1rem;
  }
}

.btn-primary {
  font-weight: 900;
  @include gradient-directional($start-color: $warning-color, $end-color: $danger-color, $deg: -135deg);
  border: 0;
  color: white;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  &:hover {
    box-shadow: 1px 1px 20px rgba($primary-color, .9);
  }
}

// Styles

#contact {
  position: relative;
  padding-bottom: 9rem!important;
}
.contact-container {
  position: relative;
  .gradient-shadow-footer {
    position: absolute;
    right: -40px;
    top: -97px;
  }
}
.footer-detail {
  position: absolute;
  bottom: 0;
  right: 0;
}
.form-control {
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  color: white!important;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.25rem;
  &:focus {
    border-color: $danger-color;
  }
}
.contact-info {
  font-size: 1.5rem;
}

// Mobile

@include media-breakpoint-down(sm) {

}

