$font-size-base: 1.06rem;
$black: #0D1118;
$dark: $black !default;
$body-color: #0D1118;

$font-family-sans-serif: 'Apercu';
$font-family-base:       $font-family-sans-serif;

$font-size-sm: .85rem;
$font-size-xs: .7rem;

$primary-color: #C2FF1A;
$warning-color: #FF8E1D;
$danger-color: #FF1F1F;
$secondary-color: #2741FF;
$info-color: #39C2FF;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  "primary": #C2FF1A,
  "danger": #FF1F1F,
  "warning": #FF8E1D,
  "secondary": #2741FF,
  "info": #39C2FF,
);
